---
layout: archive
---

{{ content }}


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "ABOUT" }}</h3>

I am fascinated by evolutionary theory and how following its trail can lead to the discovery of natural products.

<br><br>

I have 10 years of experience across the continuum of metabologenomic-driven
drug discovery and large-scale genomics analysis and automation. I became
familiar with the challenges of genome-guided natural product discovery as an
analytical chemist, and synthesized my passion for evolutionary theory and drug
discovery by transitioning into computational genomics research. The pinnacle
community contributions of my work are 1) an evolution-informed natural product biosynthesis
targeting platform that <a
href="https://www.biorxiv.org/content/10.1101/2023.06.20.545441v1">more accurately and comprehensively recovers gene
clusters compared to the published standards in the field</a>; and 2) a platform for <a
href="https://www.biorxiv.org/content/10.1101/2023.09.08.556886v1">automating
large-scale comparative phylogenomics</a>. I am driven to leverage my software
and skillset to address
applied questions in industry, such as
<a href="https://www.pnas.org/doi/10.1073/pnas.2214076120">identifying
industrially-important flavor genes in shiitake mushrooms</a> by integrating transcriptomic 
and phylogenomic data and <a
href="https://www.biorxiv.org/content/10.1101/2023.03.14.532605v1.full">pinpointing
clusters of colocalized genes that produce analogs of the psychoactive drug,
LSD</a>. I am open to employment, contracting, and
consultation - please follow and contact me.

<br><br>

I received my PhD in Dr. <a
href="http://u.osu.edu/slot.1">Jason Slot's</a> lab at The Ohio State University
as a Translational Plant Sciences Fellow, Ohio Agricultural Research
and Development Center Associate, and University Fellow. Prior to my PhD, I worked in
industry as a quality control chemist, implementing chromatography and mass
spectrometry to quantify terpenoid, pesticide, and residual solvent
concentrations. I was
trained in mass spectrometry and chromatography as a natural product drug
discovery chemist in Dr. <a href="http://loesgenlab.org/index.html">Sandra Loesgen's</a> lab for four years.

<br><br> 

<img src="https://github.com/xonq/xonq.github.io/blob/master/assets/images/mycomics.png?raw=true" title="mycomics, llc: consulting and contracting (yes, that's a phylogeny of Fungi)">


{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
