---
layout: archive
---

{{ content }}


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "ABOUT" }}</h3>


My work is primarily at the confluence of evolutionary theory and genomic
analysism, with a speciality in computationally identifying metabolic pathways 
leveraging multi-omic data. 

I began as an analytical chemist, and synthesized my passion for evolutionary theory 
and drug discovery by transitioning into computational genomics. My
dissertation in <a href="http://u.osu.edu/slot.1">Jason Slot's</a> lab culminated in 
1) an evolution-informed natural product biosynthesis targeting platform that <a
href="https://www.biorxiv.org/content/10.1101/2023.06.20.545441v1">can identify
non-canonical metabolic pathways with greater accuracy and recovery compared to published 
standards in the field</a>; and 2) a platform for <a
href="https://www.biorxiv.org/content/10.1101/2023.09.08.556886v1">automating
large-scale comparative phylogenomics</a>. I am driven to address
applied questions in industry, where I have 
helped <a href="https://www.pnas.org/doi/10.1073/pnas.2214076120">identify
flavor gene candidates in shiitake mushrooms</a> by integrating transcriptomic 
and phylogenomic data. I extended this work <a
href="https://www.biorxiv.org/content/10.1101/2023.03.14.532605v1.full">pinpointed
clusters of colocalized genes that produce analogs of the psychoactive drug,
LSD</a>. I am open to employment, contracting, and
consultation - please follow and contact me.

<br><br>

I received my PhD in Dr. <a
href="http://u.osu.edu/slot.1">Jason Slot's</a> lab at The Ohio State University
Ohio Agricultural Research and Development Center Associate. Prior to my PhD, I worked in
industry as a quality control chemist, implementing chromatography and mass
spectrometry. I was trained in mass spectrometry and chromatography as a natural product drug
discovery chemist in Dr. <a href="http://loesgenlab.org/index.html">Sandra Loesgen's</a> lab for four years.

<br><br> 

<img src="https://github.com/xonq/xonq.github.io/blob/master/assets/images/mycomics.png?raw=true" title="mycomics, llc: consulting and contracting (yes, that's a phylogeny of Fungi)">


{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
