---
layout: archive
---

{{ content }}


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "ABOUT" }}</h3>


<b>I am passionate about developing the next generation of microbial
bioinformatics analyses.</b> I am a collaborative computational biologist
excited to implement my extensive problem-solving, mycology/general
microbial genomics, natural products, and training backgrounds. I am currently
employed by <a href="https://www.theiagen.com">Theiagen Genomics</a>, where I
collaborate with developers, analysts, and state public health labs
to enable automated, cloud-based public health genomics. Beyond the computer, I strive
to educate communities on fungal biology, which includes invited teaching and
<a href="https://youtu.be/5FVbRDy-nBU?si=NUouztIDBSnR9nf8&t=3143s">workshop
presentations</a> for technical expertise and general
botany/mycology education. Please, view my <a
href="https://github.com/xonq">GitHub</a> portfolio, and reach out to discuss all things microbial
genomics and mycology education. (Ask me about bouldering and music!)


<br><br>

My career includes 5 years in
fungal natural product drug discovery analytical chemistry, 1 year in quality
control chemistry, followed by 7 years in
computational genomics (fungi, plants, prokaryotes, and viruses). My background has a strong focus
on phylogenomics, general NGS data analysis (genomics/transcriptomics), collaborative software development, 
and hands-on mass spectrometry method development (LCMS/MS, GCMS/MS). 

<br><br>

<img src="https://github.com/xonq/xonq.github.io/blob/master/assets/images/mycomics.png?raw=true" title="mycomics, llc: consulting and contracting (yes, that's a phylogeny of Fungi)">


{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
